<p style="color: green"><%= notice %></p>
<%= form_with(model: Chat.new) do |form| %>
  <%= form.submit "Here", class: "btn btn-dark border-light" %>
<% end %>
<%= render partial: "chats/chat", locals: { chat: Chat.new } %>